.homeStartContainer {
    width: auto;
    height: 100vh;
    overflow: hidden;
}

.homeStart {
    height: 100%;
    grid-template-columns: repeat(9, 11.11%);
    grid-template-rows: repeat(9, 11.11%);
    background-color: var(--darkslateblue);
    color: var(--columbiablue);
    transform-style: preserve-3d;
}

.leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(9, 11.11%);
    padding: 0 100px;
    height: 60vh;
    max-width: 500px;
}

.title {
    grid-row: 3/4;
    text-align: center;
    font-size: 2em;
}

.startText {
    grid-row: 4/6;
    text-align: justify;
    font-size: 1.5em;
}

.startButton {
    grid-row: 6/7;
    margin-left: auto;
    margin-right: auto;
}

.circle {
    --animate-duration: 2s;
    height: min(80vw, 80vh);
    width: min(80vw, 80vh);
    border-radius: 50%;
    background-color: var(--mantis);
}

.square {
    --animate-duration: 2s;
    height: min(25vw, 25vh);
    width: min(25vw, 25vh);
    background-color: var(--greenblue);
}

.circle.animate__animated.animate__fadeInRightBig,
.square.animate__animated.animate__fadeInUpBig {

    animation-duration: 1.5s;
}

@media screen and (max-width: 699px) {
    .leftSide {
        padding: 25px;
        max-width: none;
    }
}