.filterContainer {
    height: 100vh;
    margin-top: -60px;
    position: sticky;
    top: 0;
}

.filter {
    background-color: rgb(var(--oxfordblue));
    color: rgb(var(--columbiablue)) !important;
    height: calc(100vh - 60px - (2 * 40px));
    margin-top: calc(60px + 40px);
    width: 300px;
    box-sizing: border-box;
    margin-left: 50px;
    position: relative;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.filter > h3, .filter > h4 {
    padding-left: 15px;
    padding-right: 15px;
}

.filter > h4 {
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 5px;
    padding-bottom: 5px;
}

.filter > div > label {
    display: block;
    padding: 2px 60px;
    transition-duration: 200ms;
    user-select: none;
}

.filter > div > label:hover {
    background-color: rgb(var(--darkslateblue));
}

.filter > .inputContainer > input {
    margin-left: 0;
    margin-right: 0;
    padding-top: 3px;
    padding-bottom: 3px;
}

.applyFilters {
    max-width: 160px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    border-radius: 25px;
    box-shadow: 0 6px rgba(var(--darkslateblue), 0.6);
    transition-duration: 200ms;
    margin-bottom: 0 !important;
    border: none;
    font: inherit;
    text-decoration: inherit;
    outline: none !important;
    box-sizing: border-box;
}

.applyFilters:hover, .applyFilters:focus-visible {
    transform: translateY(4px);
    box-shadow: 0 0 rgba(var(--darkslateblue), 0.4);
}

@media screen and (max-width: 769px) {
    .filterContainer {
        margin-top: -60px;
        position: unset;
        height: unset;
    }

    .filter {

        margin-left: 20px;
        margin-right: 20px;
        height: unset;
        width: auto;
    }
}
