/* https://coolors.co/78bc61-c9f0ff-0a122a-2366b7-4f359b */
:root {
    --oxfordblue: 10, 18, 42;
    --darkslateblue: 79, 53, 155;
    --greenblue: 35, 102, 183;
    --columbiablue: 201, 240, 255;
    --mantis: 120, 188, 97;
}

#body {
    font-size: 1.5vmax;
}

.displayNone {
    display: none;
}

.btn {
    text-align: center;
    height: max-content;
    width: max-content;
    margin: 20px 0;
    padding: 20px 25px;
    background-color: rgb(var(--darkslateblue));
    color: rgb(var(--columbiablue));
    text-decoration: none;
    transition-duration: 400ms;
    user-select: none;
}

.btn:hover, .btn:focus-visible {
    background-color: rgb(var(--columbiablue));
    color: rgb(var(--oxfordblue));
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 769px) {
    body {
        font-size: 13px;
    }
}