.chatBox {
    margin-top: calc(15vh - 30px);
    width: 70vw;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(6, 11, 25, 0.9);
    border-radius: 25px;
    position: relative;
    padding-bottom: 60px;
    padding-top: 15px;
}

.messageBox {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.messageBox > h1 {
    margin-top: 0;
}

.send {
    position: absolute;
    right: 54px;
    bottom: 20px;
}

.name {
    color: rgb(201, 240, 255);
    margin-top: 40px;
    font-size: 5vh;
}

.chatBox .textareaContainer > div:nth-child(3) {
    min-height: 50vh;
}