.contentContainer {
    box-sizing: border-box;
    font-size: 1.1em;
    min-height: 60vh;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.contentContainerA {
    color: rgb(var(--oxfordblue));
    background: rgb(var(--columbiablue));
}

.contentContainerB {
    color: rgb(var(--oxfordblue));
    background: rgb(var(--mantis));
}

.contentContainerC {
    color: rgb(var(--columbiablue));
    background: rgb(var(--greenblue));
}

.contentContainerD {
    color: rgb(var(--columbiablue));
    background: rgb(var(--darkslateblue));
}

.contentContainerE {
    color: rgb(var(--columbiablue));
    background: rgb(var(--oxfordblue));
}

.content {
    max-width: 600px;
    padding: 25px;
}