.contentContainer {
    box-sizing: border-box;
    font-size: 1.1em;
    min-height: 60vh;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.contentContainerA {
    color: var(--oxfordblue);
    background: var(--columbiablue);
}

.contentContainerB {
    color: var(--oxfordblue);
    background: var(--mantis);
}

.contentContainerC {
    color: var(--columbiablue);
    background: var(--greenblue);
}

.contentContainerD {
    color: var(--columbiablue);
    background: var(--darkslateblue);
}

.contentContainerE {
    color: var(--columbiablue);
    background: var(--oxfordblue);
}

.content {
    max-width: 600px;
    padding: 25px;
}