.discover {
    display: flex;
    background-color: rgba(0, 0, 0, 0.8);
}

.discoverContainer {
    background-color: rgb(var(--darkslateblue));
}

.people {
    overflow: auto;
    flex-grow: 2;
    padding-left: 50px;
    padding-right: 50px;
}