.person {
    background-color: rgb(var(--oxfordblue));
    color: rgb(var(--columbiablue));
    height: 40vh;
    max-width: 800px;
    border-radius: 30px;
    padding: 50px;
    position: relative;
    margin: 50px auto;
    overflow: hidden;
}

.person > img {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1024;
    transition-duration: 100ms;
    transform-origin: top right;
}

.person > img:hover {
    transform: scale(2);
}

.person > h1 {
    margin-top: 35px;
}

.person > p {
    margin-top: 125px;
    text-align: justify;
}

.person > div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    box-sizing: border-box;
}

.personButton {
    height: 40px;
    margin: 20px auto;
    width: 130px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 200ms;
    border-radius: 25px;
    background-color: rgb(var(--darkslateblue));
    box-shadow: 0 6px rgba(var(--darkslateblue), 0.6);
    padding: 0;
}

.line {
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    border-bottom: 20px solid rgba(0, 0, 0, 0);
    width: 0;
}

.personButton:hover {
    transform: translateY(4px);
    box-shadow: 0 0 rgba(var(--darkslateblue), 0.4);
}