.person {
    background-color: rgb(var(--oxfordblue));
    color: rgb(var(--columbiablue));
    min-height: 45vh;
    max-width: 800px;
    border-radius: 30px;
    position: relative;
    margin: 50px auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.personDiv1 > img {
    max-height: 200px;
    max-width: 200px;
    transition-duration: 100ms;
    transform-origin: top right;
    margin-left: auto;
    height: 100%;
    width: 100%;
}

.personDiv1 > img:hover {
    transform: scale(2.5);
}

.personDiv1 > h1 {
    margin-top: 35px;
    margin-left: 50px;
    margin-right: 20px;
}

.person > p {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
}

.person > .personDiv1 {
    display: flex;
}

.person > .personDiv2 {
    margin-top: auto;
    display: flex;
}

.person > .personDiv2 > div {
    flex-grow: 1;
    min-width: 2%;
}

.personButton {
    height: 40px;
    max-width: 130px;
    width: 100%;
    padding: 0 10px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 200ms;
    border-radius: 25px;
    background-color: rgb(var(--darkslateblue));
    box-shadow: 0 6px rgba(var(--darkslateblue), 0.6);
    border:none;
    font:inherit;
    text-decoration:inherit;
    outline: none!important;
    box-sizing: content-box;
    margin: 20px min(20px, 2%);
}

.line {
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    border-bottom: 20px solid rgba(0, 0, 0, 0);
    width: 0;
}

.personButton:hover, .personButton:focus-visible {
    transform: translateY(4px);
    box-shadow: 0 0 rgba(var(--darkslateblue), 0.4);
}

@media screen and (max-width: 769px) {

    .personDiv1 {
        flex-direction: column-reverse;
        align-items: center;
    }

    .personDiv1 > img {
        max-height: unset;
        max-width: unset;
    }

    .personDiv1 > h1 {
        margin-left: auto;
        margin-right: auto;
    }

    .person > p {
        margin-left: 20px;
        margin-right: 20px;
    }

    .personDiv1 > img:hover {
        transform: none;
    }

    .personDiv2 {
        flex-direction: column;
        align-items: center;
    }

    .personButton{
        margin-top: 0;
        margin-bottom: 15px;
    }

    .person > div > div {
        display: none;
    }
}