.profileContainerContainer {
    background-color: rgb(var(--darkslateblue));
}

.profileContainer {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    min-height: 100vh;
    margin-top: -60px;
    padding-top: 60px;
    align-items: center;
    box-sizing: border-box;
}

.profile {
    flex-grow: 1;
    box-sizing: border-box;
    min-height: calc(100vh - 60px - (2 * 30px));
    background-color: rgb(var(--oxfordblue));
    color: rgb(var(--columbiablue));
    max-width: 800px;
    border-radius: 30px;
    position: relative;
    padding: 80px 80px 40px;
    margin: 30px auto;
    height: max-content;
}

.cogwheelContainer {
    position: absolute;
    right: 20px;
    top: 20px;
    user-select: none;
}

.cogwheel {
    height: 32px;
}

.cogwheel:hover, .rotateCogwheel {
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}