.textContainer {
    position: relative;
    display: flex;
}

.textareaContainer {
}

.inputContainer {
    height: 32px;
    align-items: center;
}

.textContainer > textarea, .textContainer > input {
    border-radius: 25px;
    color: rgb(var(--columbiablue));
    border: none;
    padding: 5px 25px;
    margin: -5px -25px;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    text-decoration: inherit;
    font-weight: inherit;
    resize: none;
    background-color: rgba(0, 0, 0, 0.3);
}

.textContainer > textarea {
    min-height: 300px;
    height: max-content;
    margin-top: -10px;
    padding-top: 10px;
}

.inputContainer > input {
    height: 100%;
}

.textContainer > textarea:focus, .textContainer > input:focus {
    -webkit-box-shadow: 0 0 0 3px rgba(var(--darkslateblue), 0.3);
    box-shadow: 0 0 0 3px rgba(var(--darkslateblue), 0.3);
    outline-style: none !important;
}

.cogwheelContainer {
    position: absolute;
    right: 0;
    top: 5px;
}

.inputContainer > .cogwheelContainer {
    top: 0;
}

.settled {
    margin: 0;
    text-align: justify;
    white-space: pre-line;
    width: 100%;
}

.cogwheel {
    height: 32px;
}

.cogwheel:hover {
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.textErrors {
    margin-top: 0;
}

.textareaToolbar {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}