.textContainer {
    position: relative;
    display: flex;
}

.inputContainer {
    height: 32px;
    align-items: center;
}

.inputContainer > input {
    border-radius: 25px;
    color: rgb(var(--columbiablue));
    border: none;
    padding: 5px 25px;
    margin: -5px -25px;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    text-decoration: inherit;
    font-weight: inherit;
    resize: none;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
}

.textareaWrapper {
    width: 100% !important;
    margin-left: -1px !important;
}

.textareaEditor {
    border-radius: 25px !important;
    color: rgb(var(--columbiablue)) !important;
    border: none !important;
    padding: 5px 25px !important;
    margin: -5px -25px !important;
    height: max-content !important;
    box-sizing: content-box !important;
    width: 100% !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.textareaEditorReadOnly {
    background-color: rgba(0, 0, 0, 0) !important;
}

.textareaToolbar {
    background-color: #070d1d !important;
    color: black !important;
    position: absolute !important;
    top: 0 !important;
    z-index: 256 !important;
    transform: translateY(-100%) translateY(-15px) translateX(-25px) !important;
    width: 100% !important;
    border-radius: 25px !important;
    border: none !important;
    padding: 15px 25px !important;
    opacity: 0 !important;
    visibility: hidden !important;
}

.public-DraftStyleDefault-ltr {
    text-align: inherit !important;
}

.rdw-justify-aligned-block > .public-DraftStyleDefault-block {
    white-space: normal !important;
}

.textareaToolbarOnFocus {
    opacity: 1 !important;
    visibility: visible !important;
}

.inputContainer > input, .textareaEditor, .textareaToolbar {
    transition: box-shadow 100ms, -webkit-box-shadow 100ms !important;
}

.textContainer > input:focus, .textareaEditorOnFocus, .textareaToolbar {
    -webkit-box-shadow: 0 0 0 3px #1f1d4c !important;
    box-shadow: 0 0 0 3px #1f1d4c !important;
    outline-style: none !important;
}

.settled {
    margin: 0;
    text-align: justify;
    white-space: pre-line;
    width: 100%;
}

.textErrors {
    margin-top: 3px;
    font-size: medium;
    font-weight: normal;
}