.newPost {
    display: flex;
    flex-direction: column;
    background-color: rgb(var(--oxfordblue));
    max-width: 800px;
    width: 100%;
    border-radius: 25px;
    padding: 0 25px 70px;
    box-sizing: border-box;
    margin-bottom: 30px;
    position: relative;
}

.newPostAdd {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 25px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    color: rgb(var(--columbiablue));
    font-size: inherit;
    font-family: inherit;
    text-decoration: inherit;
    border: inherit;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 15px 46px;
    overflow: hidden;
}

.newPost .textareaContainer {
    margin: unset;
}

.newPost .textareaContainer {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
    box-sizing: border-box !important;
}

.newPost .textareaToolbar {
    transform: translateY(-100%) translateY(-15px) !important;
    box-sizing: border-box !important;
}

.newPostAdd > .addIcon {
    margin-left: 35%;
    width: 32px;
    height: 32px;
    margin-right: 15px;
}

.addIconModified {
    margin-left: unset !important;
    align-self: normal;
    position: absolute;
    left: 12px;
    top: 8px;
}

.newPostAdd > input {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    top: 0;
}

.imagesSelected {
    max-height: 256px;
    max-width: 256px;
    margin: auto;
    padding: 5px 2px;
    z-index: 4;
    position: relative;
    border-radius: 25px;
    width: 100%;
}

.videoSelected {
    max-height: 512px;
    max-width: 512px;
    margin: auto;
    border-radius: 25px;
    z-index: 4;
    position: relative;
    width: 100%;
}

.docsSelected {
    margin: auto;
    color: inherit;
    text-decoration: inherit;
    z-index: 4;
    position: relative;

}

.newPostText {
    position: relative;
}

.newPostAdd > button, .newPostText > button {
    background: unset;
    border: inherit;
    position: absolute;
    right: -4px;
    top: 6px;
    z-index: 5;
}

.newPostText > button {
    right: -9px !important;
    top: 7px !important;
}

.newPostBtn {
    border: unset;
    height: unset;
    padding: 12px 15px;
    margin: unset;
    position: absolute;
    right: 25px;
    bottom: 16px;
    min-width: 150px;
}

.newPostHeader {
    color: rgb(var(--columbiablue));
    margin-left: 12px;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.newPost > .inputContainer {
    box-sizing: content-box;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1.4em;
}

.newPost > .inputContainer > input {
    margin: unset;
    text-align: center;
}

.post .newPostAdd {
    background-color: unset;
    padding: 15px 0;
}

.post .imagesNewPostAdd {
    max-height: 300px;
    overflow: auto;
}

.post {
    background-color: rgb(var(--oxfordblue));
    max-width: 800px;
    width: 100%;
    border-radius: 25px;
    padding: 10px 64px 48px;
    box-sizing: border-box;
    margin-bottom: 30px;
    color: rgb(var(--columbiablue));
}

.post > h1 {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.post .videoSelected {
    max-width: unset;
}

.post .docsSelected {
    border-radius: 25px;
    background-color: rgb(var(--darkslateblue));
    padding: 5px 10px;
    margin: 5px;
    transition-duration: 100ms;
}

.post .docsSelected:hover {
    background-color: rgb(var(--columbiablue));
    color: rgb(var(--oxfordblue));
}

.newPostAddDocs {
    display: inline;
}

@media screen and (max-width: 769px) {
    .newPost {
        border-radius: unset;
    }
}