.profileContainer {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    min-height: 100vh;
    margin-top: -60px;
    padding-top: 60px;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
}

.profile {
    flex-grow: 1;
    box-sizing: border-box;
    background-color: rgb(var(--oxfordblue));
    color: rgb(var(--columbiablue));
    max-width: 800px;
    width: 100%;
    border-radius: 30px;
    position: relative;
    padding: 80px 80px 40px;
    margin: 30px auto;
    height: max-content;
}

.cogwheelContainer {
    position: absolute;
    right: 20px;
    top: 20px;
    user-select: none;
    height: 32px;
    width: 32px;
    background: unset;
    border: unset;
    padding: unset;
}

.cogwheel {
    height: 32px;
    width: 32px;
    opacity: 0.5;
    transition-duration: 100ms;
}

.cogwheel:hover {
    opacity: 1;
}

.rotateCogwheel {
    opacity: 0.8;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.profilePicture, .profileImg {
    position: relative;
    width: 256px;
    height: 256px;
    border-radius: 25px;
    overflow: hidden;
    flex-shrink: 0;
}

.profilePicture > input {
    position: absolute;
    z-index: 4;
    height: 100%;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
}

.profilePicture > .imagesSelected {
    padding: 0;
    margin: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    max-width: unset;
    max-height: unset;
    border-radius: unset;
}

.profilePicture > button {
    background: unset;
    border: inherit;
    position: absolute;
    right: -4px;
    top: 6px;
    z-index: 5;
}

.profileFlex {
    display: flex;
}

.profileFlexChild {
    flex-grow: 1;
    padding-right: 40px;
}

@media screen and (max-width: 769px) {
    .profileContainer {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .profile {
        margin: 0 0 30px;
        font-size: 1.5em;
        border-radius: unset;
    }
}