.profileContainer {
    background-color: rgba(6, 11, 25, 0.9);
    display: flex;
    min-height: 100vh;
    margin-top: -60px;
    padding-top: 60px;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
}

.profile {
    box-sizing: border-box;
    background-color: rgb(var(--oxfordblue));
    color: rgb(var(--columbiablue));
    max-width: 800px;
    width: 100%;
    border-radius: 15px 25px 15px 15px;
    position: relative;
    padding: 60px 50px 30px;
    margin: 30px auto;
    height: max-content;
}

.cogwheelContainer {
    position: absolute;
    outline: none;
    right: 0;
    top: 0;
    user-select: none;
    overflow: hidden;
}

.cogwheel {
    margin-top: -3.2px;
    margin-bottom: -3.2px;
    display: inline-block;
    font-size: 36px;
    transition-duration: 100ms;
    margin-left: 1px;
}

.profileButton {
    margin: 0;
    width: auto;
    height: auto;
    padding: 5px;
}

.rotateCogwheel {
    opacity: 0.8;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.profilePicture, .profileImg {
    position: relative;
    width: 256px;
    height: 256px;
    border-radius: 25px;
    overflow: hidden;
    flex-shrink: 0;
}

.profilePicture > input {
    position: absolute;
    cursor: pointer;
    z-index: 4;
    height: 100%;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
}

.profilePicture > .imagesSelected {
    padding: 0;
    margin: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    max-width: unset;
    max-height: unset;
    border-radius: unset;
}

.profilePicture > button {
    color: inherit;
    background: unset;
    border: inherit;
    position: absolute;
    right: 4px;
    top: 6px;
    z-index: 5;
    height: 32px;
    overflow: hidden;
    padding: 0;
}

.profilePicture > button > .addIcon {
    margin-top: -3.2px;
    margin-bottom: -3.2px;
    display: inline-block;
}

.profileFlex {
    display: flex;
}

.profileFlexChild {
    flex-grow: 1;
    padding-right: 40px;
}

.cpw {
    background-color: rgb(var(--mantis));
    width: 100%;
    max-width: 800px;
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: 30px;
    padding: 25px 50px;
    animation-duration: 1000ms;
}

@media screen and (max-width: 769px) {
    .profileContainer {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .profile {
        margin: 0 0 30px;
        font-size: 1.5em;
        border-radius: unset;
    }
}