.customButton {
    cursor: pointer;
    color: rgba(var(--columbiablue), 0.6);
}

.customButtonActive {
    color: rgb(var(--columbiablue));
}

.TextBoxIcon {
    font-size: 28px;
    overflow: hidden;
    vertical-align: text-bottom;
    margin-right: 2px;
    transition-duration: 100ms;
}

.TextBoxIcon:hover {
    color: rgb(var(--columbiablue));
}

.ToolBar1 {
    display: inline-block;
    margin-left: 15px;
    height: 28px;
    font-size: 1rem;
}

.ToolBar2 {
    position: relative;
    padding: 1px 18px 6px;
    border-bottom: 2px solid rgba(var(--columbiablue), 0.6);
    margin-left: -20px;
    margin-right: -20px;
}