/* https://coolors.co/78bc61-c9f0ff-0a122a-2366b7-4f359b */
:root {
    --oxfordblue: #0A122A;
    --darkslateblue: #4F359B;
    --greenblue: #2366B7;
    --columbiablue: #c9f0ff;
    --mantis: #78BC61;
}

.btn {
    text-align: center;
    height: max-content;
    width: max-content;
    padding: 20px 25px;
    background-color: var(--oxfordblue);
    color: var(--columbiablue);
    text-decoration: none;
}